* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main1 {
    background: rgb(18, 18, 18);
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 19%, rgba(18, 147, 158, 1) 90%, rgba(17, 139, 150, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header {
    height: 10vh;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Centra, sans-serif;
}

nav>h1 {
    padding-top: 10px;
}

.main2 {
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
}

.box {
    border: 1px solid #fff;
}


.boxtext {
    text-align: center;
    width: 180px;
    height: 180px;
    font-size: 8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.box:hover{
    background-color: #e6e6e6b0;
}

.bt {
    border-top: 0;
}

.bb {
    border-bottom: 0;
}

.bl {
    border-left: 0;
}

.br {
    border-right: 0;
}

.gameInfo {
    margin: auto;
    text-align: center;
    margin-top: 20vh;
    color: white;
    font-size: 1.5rem;
}

#turn1 {
    color: yellow;
}

#reset {
    width: 90px;
    height: 40px;
    border: none;
    margin: 1%;
    cursor: pointer;
    background-color: #1e3dc9;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    border: 2px solid #1e3dc9;
    transition: all 0.5s;
}

#reset:hover {
    background-color: #2e50e900;
}